*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

.bg-fundo{
    background-image: url("/img/35.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

.glass{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.avatar{
    width: 180px;
    margin: 10px auto;
    
}

.profile h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 5px;
    
    color: black;
}

.profile h2{
    color: black;
    font-size: 16px;
}

.profile{
    margin: 20px auto;
    text-align: center;
    position:relative;
}

.social{
    display: flex;
    margin: 30px 0;
    position: relative;
    justify-content:center;
    list-style: none;
}

.social img{
    width: 35px;
    padding: 20px;
}

.links-list{
    list-style: none;
    
}

.links-list li{
    margin: 10px 20px;
}

.links-list li a {
    text-align: center;
    margin-bottom: 10px;
    padding: 8px 20px;
    display: block;
    border-radius: 4px;
    box-shadow: 10px 4px 20px black;
    text-decoration: none;
    color: rgb(107, 125, 55);
    font-size: 26px;
    font-weight: bold;
    
}

.links-list li a:hover {
    font-size: 26px;
}

.links-list li a span{
    color: black;
    display: block;
    margin-top: 10px;
    font-size: 15px;
    
}

/***************
 *   HISTORY
**************/
.body-color{
    height: 100vh;
    background:beige;    
}

.history{
    font-family: 'Charm', cursive;
    background-color: rgb(107, 125, 55);
    margin: -9px 20px;
    padding: 15px 20px ;
    border-radius: 15px ;
    color: black;
}

/***********
*  Gallery
************/

.profile {
    margin-top: 1px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15px;   
}

.container img {
    border: 1px solid rgb(107, 125, 55);
    border-radius: 10px;
    width: 100vh;
    
}

.gallery{
    padding: 12px 0;
    background-color: beige;
}

.gallery h2{
    color:black;
    font-weight:bold;
    font-size: 15px;
    margin:15px;
    text-align: center;
}

.gallery .gallery-wrapper{
    margin: 15px 30px ;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;  
}

.gallery .gallery-wrapper div{
    border: 10px;
    margin: 6px;
    width: 20vh; 
}

.gallery .gallery-wrapper div img {
    width: 100%;
    
    flex-direction:row;   
}
   

     




